.containerCollage {
  position: relative;
  // width: 50%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-image: url(https://images.unsplash.com/photo-1545873509-33e944ca7655?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  // border: solid 1px darkgoldenrod;
  // outline-offset: 20px;
  width: 402px;
  height: 402px;
  // border: 20px solid #d3d3d3;
  // box-shadow: inset 0px 0px 0px 5px darkgoldenrod;
  box-sizing: border-box;
}

.containerCollage:hover .overlay {
  opacity: 1;
}

.creatorImg {
  width: 400px;
  height: 400px;
}

.creatorCard {
  margin: 10px 0px;
  // padding: 0px 30px;
  width: 402px;
  height: 402px;
  // border: solid black 1px;
}

.creatorDeets p {
  font-weight: 700;
  text-align: center;
  position: relative;
  top: 130px;
  text-align: center;
  font-size: 30px;
  color: #fff;
}

#creatorName {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .creatorImg{
    width: 250px;
    height: 250px;
  } 
  .overlay {
    width: 252px;
    height: 252px;
  }

  .creatorCard {
    width: 252px;
    height: 252px;
  }
}