.brandTitle {
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  // margin-left: 60px;
  // text-align: center;
}

.brandTitle:hover {
  color: goldenrod;
}

.customNav {
  background-color: #000;
}

.customBTN {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
}

.customBTN:hover {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
}

.profileImg {
  border-radius: 50%;
  height: 70px;
}