.brandTitle {
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.brandTitle:hover {
  color: goldenrod;
}

.customNav {
  background-color: #000;
}

.customBTN {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
}

.customBTN:hover {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
}