.mainTitle {
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.mainTitle:hover {
  color: goldenrod;
}

.mainCustomNav {
  background-color: #000;
}

.mainCustomBTN {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
}

.mainCustomBTN:hover {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
}
.creatorTitle {
  font-family:'Roboto', sans-serif;
  font-size: 45px;
  // font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 70px 0px 20px 0px;
}

.creatorBuyIn {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
}
.creatorsDiv {
margin-bottom: 70px;
}

.brand {
  width: 500px;
  height: 1000px;
}

.models {
  margin-bottom: 80px;
  overflow: hidden;
  width: 100vw;
}

.slogan {
  margin:10px 60px;
  letter-spacing: 5px;
}