.mainTitle {
  font-size: 50px;
  letter-spacing: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.mainTitle:hover {
  color: goldenrod;
}

.mainCustomNav {
  background-color: #000;
}

.mainCustomBTN {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.mainCustomBTN:hover {
  background-color: #000;
  border:none;
  font-size: 20px;
  font-weight: bold;
  color: goldenrod;
}

#loginBtn {
  color:#fff;
}

#loginBtn:hover {
  color: goldenrod;
}

.creatorTitle {
  font-family:'Roboto', sans-serif;
  font-size: 45px;
  // font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 70px 0px 20px 0px;
}

.creatorBuyIn {
  font-family:'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
}
.creatorsDiv {
margin-bottom: 70px;
}

.brand {
  width: 500px;
  height: 1000px;
}

.models {
  margin-bottom: 80px;
  max-width: 100%;
  height: auto;
}

.slogan {
  margin:10px 20px;
  letter-spacing: 5px;
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  .mainTitle {
    justify-content: center;
    font-size: 30px;
  }

  #loginBtn {
    align-self: center;
  }

  .slogan {
    font-size: 1rem;
  }
}