.welcome {
  text-align: center;
  padding: 50px 0px;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 50px;
}

.createBtn {
  margin: 20px;
  font-weight: bold;
}

.createBtn:hover {
  background-color: goldenrod;
  color: #fff;
  border: goldenrod;
}


.beatLabel{
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-right: 20px;
}

.searchArea {
  margin: 20px;
}


.searchBox {
  border: 1px solid goldenrod;
  background-color: transparent;
  border-radius: 2px;
  height: 30px;
  width: 10%;
}
