.lookCard{
margin-bottom: 50px;
border: none;
background-color: rgba(255, 255, 255, 0.0);
}

.card-title {
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0 30px 0;
}

.lookImg {
  width:400px;
  height: 400px;
  border-radius: 50%;
}

.lookBtn {
  margin: 20px;
  font-weight: bold;
}

.lookBtn:hover {
  background-color: goldenrod;
  color: #fff;
  border: goldenrod;
}

.editBtn {
  background-color: goldenrod;
  color: #fff;
  border: goldenrod;
  font-weight: bold;
}